[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210319123837.png]
row=5
col=4

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210317220131.png]
row=1
col=2

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210329141103.png]
row=4
col=3

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210319135307.png]
row=4
col=4

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210329111431.png]
row=3
col=0

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210329150902.png]
row=3
col=3

[/home/williammagland/Desktop/Sidify Music Converter.lnk]
row=3
col=4

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210321192324.png]
row=0
col=4

[/home/williammagland/Desktop/The Jackbox Party Pack 3.desktop]
row=3
col=1

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210325100408.png]
row=4
col=1

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210329161600.png]
row=1
col=3

[/home/williammagland/Desktop/Sidify Music Converter.desktop]
row=1
col=4

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210321193047.png]
row=5
col=3

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210328231749.png]
row=5
col=0

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210328221925.png]
row=0
col=1

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210328222250.png]
row=4
col=0

[/home/williammagland/Desktop/DeepinScreenshot_cool-retro-term_20210329204248.png]
row=3
col=2

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210328204617.png]
row=1
col=1

[/home/williammagland/Desktop/DeepinScreenshot_cool-retro-term_20210329162510.png]
row=5
col=2

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210321192308.png]
row=2
col=4

[/home/williammagland/Desktop/WorkFlowy-x86_64.AppImage]
row=0
col=2

[/home/williammagland/Desktop/DeepinScreenshot_discord_20210328171828.png]
row=2
col=1

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210329220026.png]
row=2
col=2

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210329161507.png]
row=2
col=3

[/home/williammagland/Desktop/DeepinScreenshot_cool-retro-term_20210329162448.png]
row=0
col=3

[/home/williammagland/Desktop/DeepinScreenshot_cool-retro-term_20210329162531.png]
row=4
col=2

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210326113528.png]
row=5
col=1

[/home/williammagland/Desktop/DeepinScreenshot_select-area_20210319123848.png]
row=0
col=5

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/williammagland]
row=2
col=0

